<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Welcome to postcrossing application</title>
    <link th:replace="fragments/header :: styleForHeader"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{css/nav.css}"/>-->
</head>
<body>
	<nav th:replace=" fragments/header :: header">
		<a class="button login" href="login" >LOGIN</a>
	    <a class="button" href="registration" >Регистрация</a>
	    <a class="button" href="parcelStats"  >Статистика</a>
    </nav>
</body>
</html>