<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Login page</title>
    <link th:replace="fragments/header :: styleForHeader"/>
</head>
<body>
<div th:replace=" fragments/header :: header"></div>
<div class="reg" style="background-color:green;width: 400px;height:auto;margin-left:auto;margin-right:auto">
    <form th:action="login" method="POST" th:object="${user}">
        <div >
            <label for="log1" style="display: inline-block;width: 150px;text-align:right;">Login</label>
            <input type="text" th:field="*{login}" id="log1" style="margin-left:auto;margin-right:auto;">
        </div>
        <div style="padding-top:10px;">
            <label  style="display: inline-block;width: 150px;text-align:right" for="pass1">Password</label>
            <input type="text" th:field="*{password}" id="pass1" style="margin-left:auto;margin-right:auto;">

        </div>
        <div style="padding-top:10px;margin-right:auto;margin-left:auto; width:110px">
            <input  type="submit" name="Login" value="Login" >
        </div>
    </form>
</div>
</body>
</html>