body{
	width:100%;
	height: 1024px;
	margin:0;		
	background-color: #edeef0;
}

nav{
	margin:0;
	padding:0;	
}
.wrpr{		
	display:block;		
	width:940px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
}

.logo{
	padding-left:0;	
	padding-top:10px;
	padding-bottom: 10px;
    display:inline-block;     
    height:auto;   
    font-size:50px;
	font-weight: lighter;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    color:black;    
    box-sizing: border-box;
}
.account-menu{
	display: inline-block;
	float:right;
	text-align: center;	
	margin:10px 0;	
}
.acc-item{		
	font-size: 14px;
	margin:0;	
	display:block;		
	color:black;
	border-radius: 2px;	
}
.navbar{	
	display: flex;		
	flex-direction: row;
	justify-content: center;
	align-items: center;		
	width:940px;	
	height:auto;
	background-color: #34C0f6;
	padding:0;	
	margin:0 auto;		
}

.nav-item{		
	display: inline-block;
	list-style: none;
	margin:0 5px 0px 0px;	
	height: 40px;	
	border: 2px solid black;
	/*border-color: #328CC1;*/
	border-color: #34C0f6;
	border-radius: 5px;	
	color:white;		
	text-align: center;	
	text-decoration: none;	
	font-size:14px;
	font-weight: 400;
	font-family: "Advent Pro", Helvetica, sans-serif;
	box-sizing: border-box;
}
.button{	
	padding:10px;
	display: block;		
	text-decoration: none;
	color:inherit;
	box-sizing: border-box;
}
.nav-last{
	margin-right: 10px;	
}
.nav-first{
	margin-left: 10px;	
}

.nav-item:hover {
	border-color: #328CC1;	
	background-color: #328CC1;
}
.login {	
	color:white;	
	background-color:black;
	margin-bottom: 5px;		
}