<!DOCTYPE html>
<html lang="en" th:replace="fragments/layout::layout(~{::content},~{::title},~{::link})"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Полезная информация</title>
    <link  rel="stylesheet" type="text/css" th:href="@{css/faq.css}"/>
</head>
<body>
<div th:fragment="content" class="content">
    <div class="faq">
        <div class="question">
            <span class="subtitle">Что такое посткроссинг?</span>
            <div class="question-text">Суть нашего проекта заключается в обмене настоящими открытками по почте с людьми со всего мира.  За каждую отправленную Вами открытку вы получите в ответ другую из любой страны от случайного пользователя. Чем больше Вы отправляете открыток – тем больше приходит открыток Вам.
            Наш проект дает возможность узнать больше о других городах и странах, культурах и жителях, найти новых знакомых и собрать свою уникальную коллекцию открыток.
            Регистрация на сайте и участие в нашем проекте – бесплатное.
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Как работает наш проект? Пошаговая инструкция</span>
            <div class="question-text">
                <ol>
                    <li>Зарегистрируйтесь на портале и заполните профиль.</li>
                    <li>В профиле Вам необходимо указать почтовый адрес, на который Вы желаете получать открытки. Кроме того, на своей страницы Вы можете поделиться информацией о себе, своих увлечениях, указать предпочтения и загрузить свое фото.Важно. Почтовый адрес виден только Вашему отправителю.</li>
                    <li>Чтобы получить данные для отправки открытки, Вам необходимо выбрать «Отправить открытку». Сайт выбирает случайного пользователя и предоставляет его почтовый адрес, а также код открытки, который необходимо указать при отправлении.
                    Важно. Код открытки необходим для её регистрации на сайте получателем.
                    Важно. Для оптимизации проекта введено ограничение по количеству отправляемых открыток за раз. Одновременно Вы можете иметь не более 5 незарегистрированных Вашим получателем кодов.</li>
                    <li>Теперь Вы можете приобрести открытку и марки, указать на ней почтовый адрес получателя и код и опустить её в почтовый ящик!
                    Когда открытка приёдет по назначению, получатель зарегистрирует код открытки на сайте – Вы получите извещение об этом. Как только открытка будет зарегистрирована, Вы автоматически становитесь в очередь на получение обратной открытки.</li>
                    <li>Итак, Вам пришла открытка. Чтобы зарегистрировать её, Вам необходимо выбрать «Регистрация открытки»  и ввести в нужное поле код, указанный на открытке.</li>
                </ol>
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Что указать в профиле?</span>
            <div class="question-text">
                    В профиле Вам необходимо указать почтовый адрес, на который Вы желаете получать открытки. Кроме того, на своей страницы Вы можете поделиться информацией о себе, своих увлечениях, указать предпочтения.
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Что надо писать на открытке?</span>
            <div class="question-text">
                Вы не обязаны что-то писать на открытке (помимо почтового адреса и кода), но каждому получателю было бы приятно прочитать пару строк. Вот несколько идей:
                <ul>
                    <li> рассказать о себе, о своей жизни, семье</li>
                    <li>рассказать о своей стране, городе, местных традициях, кухне</li>
                    <li>поделиться интересным фактом, историей</li>
                    <li>написать о понравившейся Вам книге, поделиться стихотворением</li>
                    <li>нарисовать небольшой рисунок</li>
                </ul>
            </div>
        </div>
        <div class="question">
            <span class="subtitle">На каком языке надо писать?</span>
            <div class="question-text">
                Мы советуем Вам писать на английском языке . В профиле Вы можете указать, какими языками владеете, что поможет вашему отправителю определиться с языком.
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Открытка должна быть в конверте?</span>
            <div class="question-text">
                Как правило, почтовые открытки отправляются без конвертов. Если Вы предпочитаете получать открытки в конвертах – Вы можете это указать в личном профиле, однако эта пометка может носить лишь рекомендательный характер.
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Обязательно ли указывать обратный адрес?</span>
            <div class="question-text">
                Нет, не обязательно. Однако указанный обратный адрес поможет почтовой службе в случае возврата открытки (открытка может быть необработанна в случае некорректно указанного адреса, недостаточного количества марок).
            </div>
        </div>
        <div class="question">
            <span class="subtitle">А если я сменил место проживания?</span>
            <div class="question-text">
                Вы можете изменить Ваш почтовый адрес на актуальный в настройках профиля.
            </div>
        </div>
        <div class="question">
            <span class="subtitle">Что делать, если истек срок открытки и она не была зарегистрирована получателем?</span>
            <div class="question-text">
                Срок открытки истекает в том случае, если получатель Вашей открытки не зарегистрировал её в течение 60 дней с момента получения Вами кода. Эта открытка исчезает из списка Отправленных открыток и вместо неё Вы можете получить новый адрес с кодом.
            </div>
        </div>
    </div>
</div>
</body>
</html>
